## General

## Linux
.*
!.gitignore
*~

## Python
*.py[cod]


## App specific
config.cfg
omnik-export.log
inverter-export.log
Development/sim-config.cfg
## ignore all subfolders
Development/**
!Development/*

## WireShark
*.pcap
*.pcapng
